.App {
  width: 100%;
  height: 100%;
}

html, body, #root, #root>div {
  width: 100%;
  height: 100%;
}

.App-header {
  position: absolute;
  font-family: 'Source Sans Pro';
  top: 20px;
  left: 20px;
  padding: 20px;
  width: 230px;
  background: white;
  border-radius: 5px;
  z-index: 1000;
}

.selected-parcel {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

.buy-parcel {
  margin-top: 8px;
  text-align: center;
}

.buy-parcel button {
  background-color: #30D7A9;
  margin: 0 auto;
  padding: 7px 14px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #FFF;
  border: none;
  display: inline-block;
}
