version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
    working_directory: /tmp/my-project
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm run build
      - save_cache:
          paths:
            - build
          key: build-{{ .Revision }}
  deploy:
    docker:
      - image: circleci/node:7.10
    working_directory: /tmp/my-project
    steps:
      - restore_cache:
          keys:
          - build-{{ .Revision }}
      - run:
          name: Deploy to S3 if tests pass and branch is Master
          command: aws s3 sync build s3://decentraland-loader/ --delete

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master

